@model lab3.Models.Book

@{ ViewBag.Title = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Delete</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <textarea>
                @Html.DisplayFor(model => model.Description)
            </textarea>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            <img src="@Model.Images" width="100" height="150" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>

    @using (Html.BeginForm("DeleteBook", "Book", new { id = Model.ID }, FormMethod.Post))
    {
<input type="submit" value="Delete" class="btn btn-default" />}
</p>
